@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #FFF8DC;
  text-decoration: inherit;
}
a:hover {
  color: #FFF8DC;
}
body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: transparent;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #FFF8DC;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: black;
  }
  a:hover {
    color: #FFF8DC;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Hide scrollbars for all elements */
::-webkit-scrollbar {
  display: none;
}

/* For other browsers */
* {
  scrollbar-width: none; /* Firefox */
}


/* .custom-border {
  width: px;
  height: 2px;
  background-color: #FFFAE6;
  position: relative;
  left: 20px;
}

.custom-border::after {
  content: '';
  position: absolute;
  right: -55px;
  top: 12px;
  width: 60px;
  height: 2px;
  background-color: #FFFAE6;
  transform: rotate(25deg); 
}

.custom-border-right {
  width: 196px;
  height: 2px;
  background-color: #FFFAE6;
  position: relative;
  left: 75%;
}

.custom-border-right::before {
  content: '';
  position: absolute;
  left: -36px; 
  top: 10px;
  width: 40px;
  height: 2px;
  background-color: #FFFAE6;
  transform: rotate(-30deg);
} */


/* Global h1 settings */
.custom-h1 {
  font-family: "microExtendFLF";
  color: rgba(255, 250, 230, 0.6);
  font-size: 32px;
  line-height: 1.1;
}

@media (max-width: 1024px) {
  .custom-h1 {
    font-size: 24px;
    margin-bottom: 98px;
    padding-left: 60px;
  }
}

@media (max-width: 768px) {
  .custom-h1 {
    font-size: 18px;
    margin-bottom: 60px;
    padding-left: 40px;
  }
}

@media (min-width: 1024px) {
  .custom-h1 {
    margin-bottom: 136px;
    padding-left: 113px;
  }
}

.tab-shape {
  clip-path: polygon(0% 0%, 70% 0%, 100% 50%, 30% 60%, 0% 100%);
}


.box {
  --b: 5px; /* border */
  --s: 50px; /* size of the cut */
  --c: rgba(255, 248, 220, 0.8);
  

  /* Border */
  border: var(--b) solid var(--c);

  /* Clip path to cut top-left and bottom-left */
  clip-path: polygon(
    var(--s) 0, /* top-left cut */
    100% 0, /* top-right corner */
    100% 100%, /* bottom-right corner */
    var(--s) 100%, /* bottom-left cut */
    0 calc(100% - var(--s)), /* bottom-left vertical */
    0 var(--s) /* top-left vertical */
  );

  /* Background with a gradient */
  background: linear-gradient(-135deg, var(--c) calc(0.707 * var(--s) + var(--b)), transparent 0) border-box;
  background-color: transparent;
}



.custom-rectangle {
  clip-path: polygon(10% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 10%);
  border: 2px solid #FFF8DC;
  background-color: #23211E; 
}
